body {
    position: relative;
    margin: 0px;
}

.container {
    margin          : auto;
    background-color: #ebebeb;
    width           : 960px;
    padding         : 45px;
    box-shadow      : 2px 2px 4px 4px rgba(0, 0, 0, 0.5);

    @media(max-width: 700px) {
        width  : 100%;
        padding: 0px;
    }
}

header {
    position  : relative;
    margin    : auto;
    text-align: center;

    h1 {
        margin       : 0px;
        font-size    : 8rem;
        margin-bottom: 100px;
    }

    .temas {
        position: absolute;
        top     : 160px;
        width   : 400px;
        left    : calc(50% - 200px);
        z-index : 5;

        h2 {
            margin   : auto;
            font-size: 2rem;

            a {
                display     : inline-block;
                font-size   : 25px;
                margin-left : 10px;
                margin-right: 10px;
                transition  : 0.2s all;
            }

            a:hover {
                color          : red;
                text-decoration: underline;
            }

            @media(max-width: 700px) {}
        }

        @media (max-width: 700px) {

            margin-top: 80px;
            width     : 100%;
        }
    }

    @media (max-width: 700px) {
        h1 {
            font-size: 6rem;
        }

        width: 100%;
    }
}

#forca {
    margin          : auto;
    position        : relative;
    width           : 100%;
    height          : 570px;
    border          : 2px solid black;
    background-color: white;

    #alicer {
        position        : absolute;
        top             : 550px;
        left            : 100px;
        background-color: #B27214;
        width           : 500px;
        height          : 10px;

        @media(max-width: 700px) {
            width  : 100%;
            left   : 0px;
            padding: 0px;
        }
    }

    #madSuport {
        position : absolute;
        top      : 150px;
        left     : 240px;
        transform: rotateZ(-45deg);

        width           : 150px;
        height          : 30px;
        background-color: #864702;
        border-left     : 5px solid rgb(73, 47, 7);
        border-top      : 5px solid rgb(190, 146, 79);

        @media (max-width:700px) {
            left: 0px;
        }
    }

    .pe {
        background-color: #864702;

        width : 10%;
        height: 100%;

    }

    .pessoa {
        position : absolute;
        top      : 280px;
        left     : 480px;
        animation: mecher 1s alternate-reverse infinite;

        @media(max-width:700px) {
            left: calc(100% - 140px);
        }

        @keyframes mecher {
            to {
                transform: scale(1, 1);

            }

            from {
                transform: scale(1.05, 1.1);
            }
        }
    }

    #cabeca {
        position: absolute;
        top     : 255px;
        left    : 470px;

        @media(max-width:700px) {
            left: calc(100% - 140px);
        }
    }

    #cordaCabo {
        position: absolute;
        top     : 120px;
        left    : 288px;

        @media(max-width:700px) {
            margin-left: 0px;
            left       : 0%;
        }
    }

    #cordaCabeca {
        position: absolute;
        top     : 160px;
        /*190 maximmo*/
        left    : 483px;

        @media(max-width:700px) {
            left: calc(100% - 137px);
            top : 172px;
        }
    }

    #madPric {
        position        : absolute;
        top             : 80px;
        left            : 250px;
        background-color: #864702;
        border-left     : 5px solid rgb(73, 47, 7);
        border-top      : 5px solid rgb(190, 146, 79);
        border-right    : 1px solid rgb(190, 146, 79);
        width           : 40px;
        height          : 470px;

        @media(max-width:700px) {
            left: 0px;
        }
    }



    #madCima {
        position: absolute;
        top     : 100px;
        left    : 220px;

        width           : 290px;
        height          : 40px;
        background-color: #864702;
        border-left     : 5px solid rgb(73, 47, 7);
        border-top      : 5px solid rgb(190, 146, 79);
        border-bottom   : 1px solid rgb(190, 146, 79);

        @media(max-width:700px) {
            left: 0px;
        }
    }



    /* banco */

    #banco {
        position       : absolute;
        top            : 450px;
        left           : 470px;
        width          : 100px;
        height         : 100px;
        display        : flex;
        justify-content: space-around;

        @media (max-width:700px) {
            left: calc(100% - 150px);
        }
    }

    #banc {
        width           : 100%;
        height          : 30%;
        background-color: #864702;


    }

    @media(max-width: 700px) {
        width  : 100%;
        padding: 0px;
    }

}


/*  button*/

#divBtn {

    text-align: center;

}

button {
    margin       : 2px;
    width        : 40px;
    height       : 40px;
    font-size    : 1rem;
    border-radius: 5px;
    border       : none;
    cursor       : pointer;
}

#palavras {
    position  : relative;
    margin-top: 0px;
    margin    : auto;
    text-align: center;

    width    : 400px;
    font-size: 2rem;

    #texto {
        visibility: hidden;
        margin    : 0px;
    }

    #texto2 {
        margin-top: 20px;
        font-size : 3rem;
    }

    #res {
        margin  : 0px;
        position: absolute;
        top     : 00px;

        width : 100%;
        height: 60px;
    }

    @media(max-width: 700px) {
        margin: 0px;
        width : 100%;
    }
}

    
    #resultado{
        position: fixed;
        top:  calc(50% - 100px);
        left: calc(50% - 150px);
        width: 300px;
        height: 200px;
        
        opacity: 0;
        #venceu,#perdeu{
            
            display: none;
            width: 260px;
            height: 160px;
            padding: 20px;
            
            h1{
                margin: 0px;
                font-weight: bold;
                text-align: center;
                font-size: 32px;
                
            }
            h2{
                font-size: 24px;
                text-align: center;
            }
            p{
                font-size: 26px;
                font-weight: bold;
                
                text-align: center;
            }
            
        }
        
        
        #venceu{
            background-color: rgba(172, 255, 47, 0.8);
            h1{
            color: green;
            }
            p{
            color: green;
            }

        }
        #perdeu{
            background-color: rgba(255, 0, 0, 0.8);
            h1{
            color: red;
            }
            p{
            color: red;
            }
        }
    }

    
